.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.sidenav {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid rgb(212, 203, 203);
  float: left;
  margin-right: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #c0b2b2;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.col-md-8{
    -webkit-box-shadow: -5px 6px 7px -6px rgba(184,178,184,0.8);
    -moz-box-shadow: -5px 6px 7px -6px rgba(184,178,184,0.8);
    box-shadow: -5px 6px 7px -6px rgba(184,178,184,0.8);
}

.card{
    -webkit-box-shadow: -2px 2px 7px -3px rgba(191,185,191,1);
    -moz-box-shadow: -2px 2px 7px -3px rgba(191,185,191,1);
    box-shadow: -2px 2px 7px -3px rgba(191,185,191,1);
}